doctype html
html
  head
    block title
      title ASCIIfy
    style.
      body {
        text-align: center;
        font-family: helvetica arial sans-serif;
      }
      header {
        font-size: 28px;
        line-height: 2;
      }
      section {
        margin: 20px;
      }
      pre {
        background: #111;
        color: #fff;
        font-weight: 700;
        font-size: 10px;
      }
  body
    block content
